body {
    background-color: #53abfd;
    
    color: white;
    
    font-family: 'Play', sans-serif;
    
    font-size: 100%;
    text-shadow: 0px 1px black;
    
    background: url("assets/PrisonParallax.png") bottom left no-repeat fixed #e14b00;
    background-repeat: repeat-x;
    
    margin-bottom: 1%;
}

.logo {
    margin: 0px auto;
    
    background-color: rgba(16, 16, 16, 0.4);
    
    border-width: 2px;
    border-style: solid;
    border-color: rgba(76, 76, 76, 0.4);
    
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    margin-top: 4%;
    
    text-align: center;
    
    display: block;
}

.content {
    margin: 0px auto;
}

.container {
    background-color: rgba(16, 16, 16, 0.4);
    
    border-width: 2px;
    border-style: solid;
    border-color: rgba(76, 76, 76, 0.4);
    
    margin: 0px auto;
    margin-top: 1%;
    
    width: 50%;
    
    display: block;
}

.title {
    padding-left: 10px;
    padding-right: 10px;
}

.post {
    margin: 0px auto;
    
    margin-top: 1%;
}

.post-meta {
    padding-left: 10px;
}

a {
    color: white;
}

a:hover {
    color: #72b400 !important;
    text-shadow: 0px 1px #1c2a00 !important;
}

a:visited {
    color: white;
}

.post-meta {
    font-size: 90%;
}

.blog-post {
    padding-left: 10px;
    padding-right: 10px;
}

.blog-post img {
    max-width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 0px auto;
    display: block;
}

.title {
    text-decoration: underline;
}

.button {
    color: white;
    
    padding-bottom: 10px;
    padding-top: 10px;
    
    width: 20%;
    
    border-width: 2px;
    border-style: solid;
    border-color: rgba(76, 76, 76, 0.4);
    
    background-color: rgba(16, 16, 16, 0.4);
    
    text-decoration: none;
    text-align: center;
    text-shadow: 0px 2px black;
    
    -webkit-box-shadow: 0px 0px 32px 4px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 32px 4px rgba(0,0,0,1);
    box-shadow: 0px 0px 32px 4px rgba(0,0,0,1);
    
    display: block;
}

.button:visited {
    color: white;
}

.button:hover {
    text-shadow: 0px 2px #1c2a00;
    
    color: #72b400;
    
    -webkit-box-shadow: 0px 0px 32px 8px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 32px 8px rgba(0,0,0,1);
    box-shadow: 0px 0px 32px 8px rgba(0,0,0,1);
    
    background-color: rgba(16, 32, 16, 0.4);
}

.read-more {
    margin: 0px auto;
    
    margin-bottom: 1%;
}

.rss-subscribe {
    margin: 0px auto;
    margin-top: 2%;
    width: 10%;
}

video {
    max-width: 100%;
    display: block;
    margin: 0px auto;
}

.center {
    margin: auto;
    text-align: center;
    padding-top: 10%;
}

@media screen and (max-width: 768px)
{
    .container {
        width: 90%;
    }
    
    .logo {
        max-width: 80%;
    }
    
    .button {
        width: 50%;
    }
}
