---
layout: empty
---


<header class="text-center">
  <a href="/" class="d-inline-block mx-auto my-5 logo background-box p-3"><img class="" src="/assets/Logo.png"/></a>
</header>

<div class="container row mx-auto align-items-start">

    <div class="col-xl-8 col-lg-12 mb-4">
        {{ content }}
    </div>
    <div class="col-xl-4 d-none d-xl-block background-box p-3 mb-4">
        <h2 class="">All posts:</h2>
        <ul class="mb-3 pl-0">
        {% for post in site.posts %}
            <li class="px-1 py-0 m-0 mb-1"><a href="{{ post.url }}" class="white">{{ post.title | split: '-' | first }} - ({{ post.date | date: "%b %-d, %Y" }})</a></li>
        {% endfor %}
        </ul>

        <a href="{{ "/feed.xml" | relative_url }}" role="button" class="btn btn-primary btn-lg m-2 mb-1 mx-auto d-block background-box">Subscribe via RSS</a>
    </div>
</div>

<footer class="container-fluid text-center">
    <span class="d-inline-block mx-autp"><p><a href="/">Back to front page</a> - <a href="https://store.steampowered.com/app/568840">Buy GunHero</a></p></span>
</footer>