<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>GunHero</title>
        <link rel="stylesheet" href="{{ site.url }}/style.css">
        <link href='https://fonts.googleapis.com/css?family=Play:400,700' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" type="image/png" href="{{ site.url }}/assets/FavIcon.png"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="content">
            <a href="http://gunherogame.com"><img src="{{ site.url }}/assets/Logo.png" class="logo"></img></a>
            {{ content }}
        </div>
    </body>
</html>